  #button-change1-tre{
    position: absolute;
    top: 53.5%;
    left: 44.1%;
    border-radius: 50%;
  }
  
  #button-change2-tre{
    position: absolute;
    top: 53.5%;
    left: 52.6%;
    border-radius: 50%;
  }